# Patterns of intentionally untracked files that Git should ignore

main
db.events

# Roc
roc-dir/

# Devenv and direnv
.devenv*
devenv.local.nix
.direnv

# pre-commit
.pre-commit-config.yaml

# Task
.task/
