body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

section {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1,
h2,
strong {
    color: #333;
}

h2,
p {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.person-line {
    display: flex;
}

.person-line p {
    max-width: 67%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.person-line p:first-child {
    margin-left: 0;
}

.person-line p:last-child {
    margin-right: 0em;
}


.person-line .info-form {
    display: inline;
}

.info-form input,
.info-form textarea {
    margin-right: .5em;
}

@media screen and (max-width: 767px) {
    .person-line {
        flex-direction: column;
    }

    .person-line p {
        margin-left: 0;
        margin-right: 0;
    }

    .info-form input,
    .info-form textarea {
        margin-bottom: 0.5em;
    }
}
